<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>WE-H5</title>
<link rel="stylesheet" href="/stylesheets/style.css">
<link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
<!--头部导航栏-->
<div class="header">
<a href="/"><span id="logo"></span></a>
<ul class="nav">
<li><a id="goweh51" href="javascript:;">我的H5</a></li>
<li><a href="/store">用户作品</a></li>
<!-- <li><a href="/hot">热门精选</a></li> -->
</ul>
<ul id="reglog" class="reglog">
<li id="loginbtn"><a href="javascript:;">登录</a></li>
<li id="registbtn"><a href="javascript:;">注册</a></li>
</ul>
</div>

<!--主体部分-->
<div class="mainbody">
<div class="cover"></div>
<div class="intro"><a id="goweh52" href="javascript:;">开始创作我的H5</a></div>
</div>

<!--底部信息-->
<div class="footer">
<div style="width:20%;float:left;"><span>INFO</span></div>
<div style="width:40%;float:left;"><span>Website Info</br></span>Node.js</br>Mongodb</br>Author : Viola Chen</div>
<div style="width:40%;float:left;">
<span>More</br></span>South China University of Technology</br>
Computer Science and Technology
</div>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/index.min.js"></script>
</body>
</html>
