<!DOCTYPE html>
<html>
<head>
<title>WE-H5</title>
<link rel="stylesheet" href="/stylesheets/myh5.css">
</head>
<body>
<!-- <div id="edit">edit</div> -->
<div class="header">
<a href="/"><span id="logo"></span></a>
</div>
<div class="intro">我的H5作品</div>
<div id="mainbody">
	<div id="new"></div>
	<div class="h5-item">
	<img class="h5-cover" src="/images/test.png">
	<p class="h5-title">标题</p>
	<ul class="h5-editways">
	<li>编辑</li>
	<li>复制</li>
	<li>删除</li>
	<li>发布</li>
	</ul>
	</div>
	<ul id="pages"><li>上一页</li><li>第 2 页</li><li>下一页</li></ul>
</div>
<div id="qrcode"></div>
<div id="success">操作成功</div>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="/javascripts/myh5.min.js"></script>
</body>
</html>