<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>WE-H5 Store</title>
	<link rel="stylesheet" href="/stylesheets/store.css">
</head>
<body>
<div class="header">
<a href="/"><span id="logo"></span></a>
</div>
<div class="container">
<!-- <div class="item">
	<div class="cover"></div>
	<div class="options">
		<div class="opbtn useit">引用</div>
		<div class="opbtn qrbtn">二维码</div>
	</div>
	<div class="title">just for test</div>
	<div class="author">作者:测试用户</div>
</div> -->

</div>
<button class="addmore" id="addmore">加载更多</button>
<div id="qrcode"></div>
<script type="text/javascript" src="/javascripts/jquery.min.js"></script>
<script type="text/javascript" src="/javascripts/jquery.qrcode.min.js"></script>
<script type="text/javascript" src="/javascripts/store.min.js"></script>
</body>
</html>